@model IEnumerable<HRManagement.Models.Entities.RequestType>

@{
    ViewBag.Title = "Leave";
}

<h2>Leave Module</h2>

<div id="history">
    history list here
</div>

<div id="request">
    
    <form action="" method="POST" id="requestForm">
        <div id="daysRequested"></div>
        <div id="leftside">
        <p>Total free payed days available: 30</p>
        <p>I want to take some days of between:</p>
                <div id="datepicker"></div>
            <p>
            Type of request:
            <select name="request_type">
                @foreach (var item in Model)
                {
                    <option value='@item.Id' >@item.Name </option>
                }
            </select>
            </p>
            <p>Additional details:<br />
            <textarea cols="50" rows="3" name="comment"></textarea>
            </p>
            <input type="submit" name="submit" value="Request" id="sendRequest" />
        </div>
        <div style="clear:both"><!-- END FORM--></div>
    </form>
    
</div>
