@{
    ViewBag.Title = "Help";
}

<h2>How to use the application</h2>
<p>
     Modules:
</p>
<ol>
    <li>Leave management</li>
        <p>Some hints here</p>
    <li>Daily timetable</li>
        <p>Some hints here</p>
</ol>
