@{
    ViewBag.Title = "Help";
}

<h2>How to use the application</h2>
<p>
     Modules:
</p>
<ol>
    <li>Leave management</li>
        <p>Some hints here</p>
    <li>Daily timetable</li>
        <p>Some hints here</p>
</ol>

<p>User types and requirements for each level:</p>
<ol>
    <li>@ViewBag.NormalUser</li>
    <li>@ViewBag.PremiumUser</li>
    <li>@ViewBag.PlatinumUser</li>
    <li>@ViewBag.VIPUser</li>
</ol>